{% extends 'tasks/base.html' %}
{#{% load static %}#}
{% block content %}
    <br/>
    <div class="col-md-12">
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <strong>{{ field.label }}:</strong>
                    <br/>
                    {{ field }}
                    <br/>
                    <br/>
                {% endfor %}
                <a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
                <input class="btn btn-success" type="submit" name="submit" value="Confirm">
            </form>
        </div>
    </div>
{% endblock %}